<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @annkissamer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @annkissamer.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @annkissamer.email %>
</p>

<%= link_to 'Edit', edit_annkissamer_path(@annkissamer) %> |
<%= link_to 'Back', annkissamers_path %>
